<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jupa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.EditProfileActivity"></activity>
        <activity android:name=".Activity.ApplicationsActivity" />
        <activity
            android:name=".Activity.ResultSearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.InstitutionResultsActivity" />
        <activity android:name=".Activity.RequestApplicationViewActivity" />
        <activity android:name=".Activity.Assessment_reportActivity" />
        <activity android:name=".Activity.LoginPromptActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.RankRequestActivity" />
        <activity android:name=".Activity.AssessorRequestActivity" />
        <activity android:name=".Activity.MyRequestsActivity" />
        <activity android:name=".Activity.NewInstitutionActivity" />
        <activity android:name=".Activity.InstitutionsActivity" />
        <activity android:name=".Activity.InstitutionActivity" />
        <activity android:name=".Activity.CandidateProjectDetailViewActivity" />
        <activity android:name=".Activity.GroupSearchActivity" />
        <activity android:name=".Activity.ProjectAssessmentsActivity" />
        <activity android:name=".Activity.AssessmentActivity" />
        <activity android:name=".Activity.GroupQuestionsActivity" />
        <activity android:name=".Activity.CandidateProjectActivity" />
        <activity android:name=".Activity.CandidatesDisplayActivity" />
        <activity android:name=".Activity.UserHomeActivity" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.GroupActivity" />
        <activity android:name=".Activity.AdminHomeActivity" />
        <activity android:name=".Activity.SplashActivity" />
        <activity android:name=".Activity.RegistrationActivity" />
        <activity android:name=".Activity.GroupsActivity" />
        <activity android:name=".Activity.MainActivity" />
    </application>

</manifest>